recursive-include ilpy *.cpp *.h *.pxd *.py *.pyx *.txt
include *.md

recursive-exclude conda *
recursive-exclude tests *

exclude .gitmodules
exclude ilpy/wrapper.cpp
exclude Makefile
exclude .pre-commit-config.yaml
